@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

nav > img {
  display: none;
}

section:has(> .name) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 0 100px;
}

nav > ul {
  display: flex;
}

nav ul > li a {
  padding: 0 10px;
  color: #f3f3f3;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section.hd:has(h1) {
  width: 600px;
  border: 1px solid #f3f3f3;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  margin: 0 100px;
  position: absolute;
  bottom: 180px;
}

section.hd > h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #f3f3f3;
  padding: 20px 10px;
  letter-spacing: 0.5rem;
  font-weight: lighter;
}

section:has(img[src="./images/desktop/image-interactive.jpg"]) {
  display: flex;
  position: relative;
  width: 1000px;
  margin: 100px auto;
}

section:has(img[src="./images/desktop/image-interactive.jpg"]) > article {
  background-color: #f3f3f3;
  padding: 50px;
  position: absolute;
  width: 500px;
  bottom: 0px;
  right: 40px;
}

img[src="./images/desktop/image-interactive.jpg"] {
  width: 600px;
}

article > h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  color: black;
}

article > p {
  font-size: 12px;
  line-height: 22px;
  color: hsl(0, 0%, 41%);
  font-weight: bold;
}

#creations {
  margin: 0 100px;
  margin-bottom: 200px;
}

.firstSect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstSect > h1 {
  text-transform: uppercase;
  font-size: 30px;
}

button {
  padding: 5px 30px;
  border: 1px solid black;
  cursor: pointer;
}

.imagesCont {
  display: grid;
  grid-template-areas:
    "one two three four"
    "five six seven eight";
  gap: 1.5rem;
  margin-top: 40px;
  place-content: center;
}

figcaption {
  position: relative;
  transition: all 1s ease-in-out;
  color: #f3f3f3;
}

figcaption:hover {
  background-image: rgba(0, 0, 0, 0.3);
  /* filter: opacity(0.5); */
  cursor: pointer;
  color: black;
  font-weight: bold;
}

figcaption > h2 {
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  font-size: 25px;
  left: 10px;
  width: 200px;
  text-align: center;
  font-weight: lighter;
  font-family: "Josefin Sans", sans-serif;
}

.imagesCont > :first-child {
  background-image: url("./images/desktop/image-deep-earth.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(2) {
  background-image: url("./images/desktop/image-night-arcade.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(3) {
  background-image: url("./images/desktop/image-soccer-team.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(4) {
  background-image: url("./images/desktop/image-grid.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(5) {
  background-image: url("./images/desktop/image-fisheye.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(6) {
  background-image: url("./images/desktop/image-from-above.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(7) {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
  height: 450px;
  width: 256px;
}

.imagesCont > :nth-child(8) {
  background-image: url("./images/desktop/image-curiosity.jpg");
  height: 450px;
  width: 256px;
}

/* footer section */
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.attribution {
  position: absolute;
  bottom: 120px;
  left: 20px;
  font-weight: bold;
}

section.footCont1 > img {
  width: 150px;
}

.socialIcons > img {
  width: 20px;
  margin: 0px 5px;
  cursor: pointer;
}

.socialIcons {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

div.copyright > p {
  color: #f3f3f3;
}

nav ul > .list :first-child {
  padding-left: 0;
}

nav {
  padding-top: 20px;
}

@media (max-width: 900px) and (orientation: portrait) {
  section:has(img[src="./images/desktop/image-interactive.jpg"]) {
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
  }

  section:has(img[src="./images/desktop/image-interactive.jpg"]) > article {
    position: unset;
    width: 350px;
    margin: 0 auto;
  }

  article > h1 {
    font-size: 25px;
  }

  .imagesCont {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";
  }

  .imagesCont > :first-child {
    background-image: url("./images/mobile/image-deep-earth.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: one;
  }

  .imagesCont > :nth-child(2) {
    background-image: url("./images/mobile/image-night-arcade.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: two;
  }

  .imagesCont > :nth-child(3) {
    background-image: url("./images/mobile/image-soccer-team.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: three;
  }

  .imagesCont > :nth-child(4) {
    background-image: url("./images/mobile/image-grid.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: four;
  }

  .imagesCont > :nth-child(5) {
    background-image: url("./images/mobile/image-fisheye.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: five;
  }

  .imagesCont > :nth-child(6) {
    background-image: url("./images/mobile/image-from-above.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: six;
  }

  .imagesCont > :nth-child(7) {
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: seven;
  }

  .imagesCont > :nth-child(8) {
    background-image: url("./images/mobile/image-curiosity.jpg");
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    grid-area: eight;
  }

  img[src="./images/desktop/image-interactive.jpg"] {
    width: 350px;
    margin: 0 auto;
  }

  section.hd:has(h1) {
    width: 300px;
    padding-right: 0px;
    margin: auto;
    bottom: 45%;
    left: 10%;
  }

  section.hd > h1 {
    font-size: 25px;
  }

  #creations {
    margin: 0px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 80px;
  }

  button {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .firstSect {
    justify-content: space-around;
  }

  section.footCont2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  section.footCont1 {
    padding-top: 20px;
  }

  footer {
    display: block;
    text-align: center;
    margin-top: 100px;
    height: 100%;
  }

  nav > ul {
    display: block;
  }

  nav ul > li {
    padding: 10px 0px;
  }

  div.attribution {
    /* bottom: 300px; */
    display: none;
  }

  nav ul.navbar {
    display: none;
  }

  img[src="./images/icon-hamburger.svg"] {
    display: block;
    width: 40px;
  }

  section:has(> .name) {
    margin: 0;
    justify-content: space-around;
  }

  #navhd {
    padding: 0;
  }
}
